@use "styles/mixins" as m;

:host {
  @include m.margin-bottom20;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding: 10px;
}

.nav {
  display: flex;
  gap: 10px;
}
