@use "styles/mixins" as m;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 10px 30px 10px 10px;
  font-size: var(--font-size-h1);
}

.header__title {
  font-size: var(--font-size-h1);
}

.nav {
  display: flex;
  gap: 30px;
}

.nav__item {
  position: relative;
  transition: color 0.2s ease;
}

.nav__item::after {
  @include m.hover-line;
}

.nav__item:hover::after {
  transform: scaleX(1);
}
