<div class="search-film">
  <input appAutoFocus type="search" placeholder="Search films" class="film-input" (input)="onSearchChange($event)" />
</div>

@if (isLoading()) {
  <p>Loading...</p>
} @else if (error()) {
  <p>Failed to load films</p>
} @else if (hasFilteredFilms()) {
  <div class="film-cards-wrapper">
    @for (film of filteredFilms(); track film.id) {
      <app-film-card [film]="film"></app-film-card>
    }
  </div>
} @else {
  <p class="nothing-found">Nothing found</p>
}
<!--
<div class="film-cards-wrapper">
  @for (film of films(); track film.id) {
    <app-film-card [film]="film"></app-film-card>
  }
</div>
-->
