@if (film(); as selectedFilm) {
  <div class="details-content">
    <div class="details-content__title">{{ selectedFilm.title }}</div>
    <div class="details-content__meta">{{ selectedFilm.year }} · {{ selectedFilm.genre }}</div>
    <div class="details-content__rating">Rating: {{ selectedFilm.rating }}</div>
    <div class="details-content__duration">Duration: {{ selectedFilm.duration }}</div>
    <div class="details-content__descriprion">
      {{ selectedFilm.description }}
    </div>
    <a routerLink="/" type="button" class="details-content__back">Васк Home</a>
  </div>
  <img [src]="selectedFilm.posterUrl" [alt]="selectedFilm.title" class="details-image" />
}
