<div class="details-content">
  <div class="details-content__title">Interstellar</div>
  <div class="details-content__meta">2014 · Sci-Fi</div>
  <div class="details-content__rating">Rating: 8.6</div>
  <div class="details-content__duration">Duration: 165</div>
  <div class="details-content__descriprion">
    When drought, dust storms, and the extinction of crops lead humanity to a food crisis, a team of explorers and
    scientists travels through a wormhole in search of a new home for mankind.
  </div>
  <button type="button" class="details-content__back">Васк Home</button>
</div>
<img src="/assets/images/interstellar.jpg" alt="" class="details-image" />
