<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ul class="breadcrumbs__list">
    @for (breadcrumb of breadcrumbs(); track breadcrumb.label) {
      <li class="breadcrumbs__item">
        @if (breadcrumb.url) {
          <a [routerLink]="breadcrumb.url" class="breadcrumbs__link">
            {{ breadcrumb.label }}
          </a>
        } @else {
          <div class="breadcrumbs__current" aria-current="page">
            {{ breadcrumb.label }}
          </div>
        }
      </li>
    }
  </ul>
</nav>
